* text=auto

*.c text eol=lf
*.h text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.cxx text eol=lf
*.hh text eol=lf
*.hpp text eol=lf
*.hxx text eol=lf
*.s text eol=lf
*.S text eol=lf
*.ld text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
Makefile text eol=lf
*.mk text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.bin binary
*.uf2 binary

third_party/** -text
ports/host_native/vendor/** -text
